<% content_for :title do %>TQM Jenkins Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  	  <div data-id="JOB1" data-view="JenkinsBuild" data-title="8.11 Create DB" data-description="" data-min="0" data-max="100"></div>
	</li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  	  <div data-id="JOB2" data-view="JenkinsBuild" data-title="8.11 Smoke Test" data-description="" data-min="0" data-max="100"></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  	  <div data-id="JOB3" data-view="JenkinsBuild" data-title="Test On Demand" data-description="" data-min="0" data-max="100"></div>
	</li>
  </ul>  
</div>
