<% content_for :title do %>TQM Jenkins Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  	  <div data-id="JOB1" data-view="JenkinsBuild" data-title="8.11 Create DB" data-description="" data-min="0" data-max="100"></div>
	</li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  	  <div data-id="JOB2" data-view="JenkinsBuild" data-title="8.11 Smoke Test" data-description="" data-min="0" data-max="100"></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  	  <div data-id="JOB3" data-view="JenkinsBuild" data-title="Test On Demand" data-description="" data-min="0" data-max="100"></div>  	  
	</li>	
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  	  <div data-id="JOB4" data-view="JenkinsBuild" data-title="Install VM Revert" data-description="" data-min="0" data-max="100"></div>  	  
	</li>	
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  	  <div data-id="JOB5" data-view="JenkinsBuild" data-title="FLOWCAL Installer" data-description="" data-min="0" data-max="100"></div>  	  
	</li>	

	 <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
        <div data-id="buildhistory" data-view="Buildhistory" data-max_samples="100" data-show_job_titles="true" data-sample_spacers="true"></div>
    </li>
  </ul>  
</div>
